@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

.heroImage0 {
  background-image: url('../public/images/mobile-image-hero-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vw;
  position: relative;
}

.heroImage1 {
  background-image: url('../public/images/mobile-image-hero-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vw;
  position: relative;
}

.heroImage2 {
  background-image: url('../public/images/mobile-image-hero-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vw;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .heroImage0 {
    background-image: url('../public/images/desktop-image-hero-1.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
    height:65vh;
    width:55vw;
    position: relative;
    top:0;
    right:0;
    /* border: 3px solid red;; */
  }
  
  .heroImage1 {
    background-image: url('../public/images/desktop-image-hero-2.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
    height:65vh;
    width:55vw;
    position: relative;
    top:0;
    right:0;
    /* border: 3px solid red;; */

  }
  
  .heroImage2 {
    background-image: url('../public/images/desktop-image-hero-3.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
    height:65vh;
    width:55vw;
    position: relative;
    top:0;
    right:0;
    /* border: 3px solid red;; */

  }
}

