.headerMobile{
  padding:1rem;
  display: flex;
  position: relative;
}

.headerMobile h2 {
  margin:0 auto;
  color:white;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: .1rem;
}
.headerDesktop {
  display: none;
}

.menubar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width:100vw;
  padding:.3rem .5rem;
  position: fixed;
  top:0;
  z-index: 3;
}

.menubar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 1.2rem;
}
.menubar ul li {
  font-weight: 600;
  margin-right: .5rem;
  border-bottom: 1px solid black;
}
.hide {
  display:none
}
.close {
  margin-left: 20px;
  display: grid;
  place-items: center;
}

.navigate {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  padding:1rem 1rem;
}

.navigate .directions {
  background-color: black;
  cursor: pointer;
}

.main section:nth-child(1), 
.main section:nth-child(3) {
  padding:4rem 1.75rem;
}

.main section:nth-child(1) h2 {
  font-size: 2.1rem;
  font-weight: 700;
}


.main section:nth-child(3) h2 {
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 1.2rem;
}

.main section p {
  margin-top: 1.3125rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.3625rem;
  color:hsl(0, 0%, 63%);
}

.main section div {
  margin-top:2rem;
  display: flex;
  align-items: center;
}

.main section div a {
  margin-right:1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .7rem;;
  font-size: 1.3rem;
}

.main section:nth-child(2) {
  margin-top:2rem;
}
.headerSection {
  display: none;
}
.img {
  display: block;
  width: 100%;
  height: 14rem;
  position: relative;
}
.img .about {
  object-fit: cover; 
}

.menubar {
  animation : opac 200ms ease-in;
}
.anim_1 {
  animation: menuslide 800ms ease-in-out;
}
.anim_2 {
  animation: menuslide 650ms ease-in-out;
}
.anim_3 {
  animation: menuslide 480ms ease-in-out;
}
.anim_4 {
  animation: menuslide 400ms ease-in-out;
}
.main {
  animation: come-in 1000ms ease-in-out;
}

@keyframes come-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes menuslide {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0%);
      opacity: 1;
  }
}

@keyframes opac {
  from {
      transform: translateY(-50%);
      opacity: 0;
  }
  to {
      transform: translateY(0%);
      opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    position: relative;
  }
  .menubar {
    display: none;
  }

  .headerMobile {
    display: none;
  }
  .headerDesktop {
    display: flex;
    align-items: center;
    margin-left:4rem;
    color:white;
  }
  .headerDesktop h2 {
    font-size: 1.5rem;
  }

  .headerDesktop ul {
    list-style-type: none;
    display: flex;
    font-size: 1.2rem;
  }
  .headerDesktop ul li {
    margin-left: 1.5rem;
  }
  .navigate {
    display: none;
  }

  .main section:nth-child(1) {
    display: none;
  }

  .main {
    display: flex;
  }
  .headerContainer {
    display: flex;
    justify-content: space-between;
  }

  .headerSection {
    display: block;
    width:45vw;
    padding:4rem 5rem;
    position: relative;
    height:65vh;
  }
  .headerSection h2 {
    font-size: 2.5rem;
    width:15ch;
  }
  .headerSection p {
    margin-top: 1.3125rem;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.1rem;
    color:hsl(0, 0%, 63%);
  }

  .headerSection span {
    margin-top:1rem;
    display: flex;
    align-items: center;
  }
  
  .headerSection span a {
    margin-right:1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .7rem;;
    font-size: 1rem;
  }

  .headerSection div {
    position: absolute;
    bottom:0;
    left:0;
    background-color: black;
    padding:1rem .5rem;
  }
  .headerSection div .arrow {
    cursor:pointer;
  }
  .main {
    height: 35vh;
  }

  .main section:nth-child(1), 
  .main section:nth-child(3) {
    padding:0rem 1.75rem;
  }
  .main section:nth-child(2) {
    margin-top:0rem;
  }
  .main section:nth-child(3) {
    width: 70vw;;
    height: 35vh;
    padding:2rem 2rem;
  }

  .main section:nth-child(3) h2 {
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1rem;
  }

  .main section:nth-child(3) p {
    font-weight: 400;
    font-size: .9rem;
    line-height: 1rem;
    color:hsl(0, 0%, 63%);
  }

  .img {
    width: 70%;
    height: 35vh;
    position: relative;
  }
  .img .about {
    width: 50vw;
    height: 30vh;
    object-fit: cover; 
    position: relative;
  }

  .anim_1 {
    animation: menuslide 1100ms ease-in-out;
  }
  .anim_2 {
    animation: menuslide 950ms ease-in-out;
  }
  .anim_3 {
    animation: menuslide 800ms ease-in-out;
  }
  .anim_4 {
    animation: menuslide 600ms ease-in-out;
  }

  .headerSection, .furniture {
    animation: come-in 2000ms ease-in-out;
  }

}

